<% @page_title = "GeoMarket! | Alterar inforações" %>
<div class="row">
	<div class="col-md-5">
		<div class="form form-horizontal">
		  <h1>Editar informações</h1>
		  <%= form_for(:estabelecimento, :url => {:controller => 'estabelecimento', :action => 'save_edits'}) do |f| %>
		    <p> Nome:</p><p> <%= f.text_field :nome%> </p>
		    <p> Endereço:</p><p> <%= f.text_field :logradouro%></p>
		    <p> Numero:</p><p> <%= f.text_field :numero%></p>
		    <p> Complemento:</p><p> <%= f.text_field :complemento%></p>
		    <p> Email:</p><p> <%= f.text_field :email%> </p>
		    <%= f.submit :Editar %>
		  <% end %>
		  <% if @estabelecimento.errors.any? %>
		    <ul class="erros">
		    <% for message_error in @estabelecimento.errors.full_messages %>
		      <li>* <%= message_error %></li>
		    <% end %>
		    </ul>
		  <% end %>
		</div>
	</div>
	<div class=	"col-md-5">
		<div class="form form-horizontal">
		  <h1>Alterar senha</h1>
		  <%= form_tag(:action => 'change_password', :method => 'post') do |f| %>
		    <p>Senha atual:</br> <%= password_field_tag :old_pass %></p> 
		    <p>Nova senha:</br> <%= password_field_tag :new_pass %></p> 
		    <p>Confirme a nova senha:</br> <%= password_field_tag :new_pass_confirmation %></p> 
		    <%= submit_tag('Alterar senha') %>
		  <% end %>
		</div>
	</div>
</div>