<div style="text-align: center">
  <h1>Geomarket!</h1>
  <% if @current_user %>
    <div>Bem vindo, <%= @current_user.nome %></div>
      <%= link_to 'Ver Propagandas', {:controller => :propaganda, :action => :index}, :class => 'btn btn-lg btn-primary' %>
      <%= link_to 'Nova Propaganda', {:controller => :propaganda, :action => :new}, :class => 'btn btn-lg btn-success' %>
  <% else %>
    <%= link_to 'Login', {:controller => :estabelecimento, :action => :login}, :class => 'btn btn-lg btn-primary' %>
    <%= link_to 'Cadastro', {:controller => :estabelecimento, :action => :new}, :class => 'btn btn-lg btn-success' %>
  <% end %>
</div>