<!DOCTYPE html>
<html>
<head>
    <title><%= @page_title%></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/navbar' %>
    <div class="container">
      <% if !flash[:error].to_s.empty? %>
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= flash[:error] %>
      </div>
      <% end %>
      <% if !flash[:info].to_s.empty? %>
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= flash[:info] %>
      </div>
      <% end %>
      <% if !flash[:success].to_s.empty? %>
      <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= flash[:success] %>
      </div>
      <% end %>
      <div class="container-fluid">
        <%= yield %>
      </div>
  </div>
</body>
</html>
